.Nav-container {
  width: 100%;
  padding: 10px 0;
  background-color: $fc-dark;
  height: 48px;
}
.Nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  @media (max-width: 640px) {
    width: 95%;
  }
  &__logo {
    width: 30px;
  }
  &-group {
    width: 200px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    &__item {
      text-decoration: none;
      color: $fc-light;
    }
    &__cart {
      margin-left: auto;
      width: 50px;
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $fc-light;
        text-decoration: none;
      }
      &-quantity {
        margin-left: 5px;
        width: 25px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        background-color: lighten($fc-success, 35%);
        border-radius: 50%;
        font-size: 12px;
      }
    }
  }
}

.active {
  color: lighten($color: #829191, $amount: 80);
}
