.ProductCard {
  background-color: $fc-light;
  border: 1px solid $fc-gray;
  border-radius: 6px;
  width: 300px;
  height: 599px;
  margin: 0 10px 10px;
  @media (max-width: 640px) {
    width: 90%;
  }
  &__image-container {
    max-width: 100%;
    height: 30%;
    padding: 2em;
  }
  &__image {
    display: block;
    width: 100%;
  }
  &__group {
    width: 80%;
    margin: auto auto 0;
    display: flex;
    justify-content: space-between;
    &-btn {
      width: 50%;
      padding: 10px;
      margin-top: auto;
      margin-bottom: 1em;
      cursor: pointer;
      @media (max-width: 640px) {
        margin-bottom: 2em;
      }
    }
    & .green {
      border: 1px solid $fc-success;
      border-right: none;
      border-radius: 7px 0 0 7px;
      transition: background-color 500ms;
      &:hover {
        background-color: $fc-success;
        color: $fc-light;
      }
    }
    & .red {
      border: 1px solid$fc-alert;
      border-radius: 0 7px 7px 0;
      transition: background-color 500ms;
      &:hover {
        background-color: $fc-alert;
        color: $fc-light;
      }
    }
  }
}

.ProductCard__body {
  display: flex;
  flex-direction: column;
  height: 55%;
  padding: 1rem;
  border-top: 1px solid $fc-gray;
  &-title,
  &-price {
    margin: 0;
    font-size: 14px;
    line-height: 1.5rem;
  }

  &-description {
    font-size: 14px;
    font-weight: lighter;
  }
  &-btn {
    width: 250px;
    padding: 12px;
    border: 1px solid $fc-success;
    color: $fc-success;
    font-weight: 500;
    border-radius: 5px;
    margin: auto auto 1em;
    cursor: pointer;
    transition: background-color 800ms;
    @media (max-width: 640px) {
      margin-bottom: 2em;
    }
    &:hover {
      background-color: $fc-success;
      color: $fc-light;
    }
  }
}
