@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import './styles/variables.scss';
@import './styles/ProductList.scss';
@import './styles/AdminPage.scss';
@import './styles/Carousel.scss';
@import './styles/Cart.scss';
@import './styles/Footer.scss';
@import './styles/CartItem.scss';
@import './styles/Header.scss';
@import './styles/LandingPage.scss';
@import './styles/Modal.scss';
@import './styles/ProductCard.scss';
@import './styles/ProductForm.scss';

// $fc-light: #fffff9;
// $fc-dark: #071013;
// $fc-alert: #ff0022;
// $fc-success: #157f1f;
// $fc-gray: #8b8b8b;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: 1280px) {
    font-size: 18px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: $bc-yellow;
}

#root {
  min-height: 100%;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1280px) {
    height: 100%;
  }
}
